/* !FUENTES IMPORTADAS ACA */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
/* !FUENTES IMPORTADAS ACA */

* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

body {
  background-color: #ecdfcc;
}

.loginContenedor {
  background-color: #ecdfcc;
  text-align: left;
  padding: 20px;
}

h1 {
  margin: 100px 0 50px;
  font-size: 3em;
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.h1Register{
  margin: 0px 0 60px;
  font-size: 4em;
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}

.labelDiv {
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 500;
}

.inputDiv {
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 12px;
  margin-bottom: 30px;
  background-color: #eee;
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 8px;
  color: rgb(9, 9, 9);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}


.iContrasena input {
  outline-color: lightcoral;
}
.iUsuario input {
  outline-color: lightcoral;
}

.botonesLogin {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #1c274c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  width: 48%;
  transition: background-color 0.3s;
}



.ui-btn-Register {
  position: relative; /* Cambiado a relative */
  background-color: #2c5eff;
  color: white;
  border-radius: 7px;
  padding: 20px;
  width: 44%;
  transition: background-color 0.3s;
  /* Puedes ajustar el margen para colocarlo en la posición deseada */
  margin-right: 0px;
  margin-top: 0px;
  top: 0;
  right: 0;
}


.ui-btn-Register:hover {
  background-color: #0056b3;
}

.contenedorRegisterbt {
  position: relative; /* Necesario para que el botón se posicione en relación a este contenedor */
  width: 100%;
}

.ui-btn-Register {
  position: absolute;
  top: 0; /* Alinéalo al borde superior */
  right: 0; /* Alinéalo al borde derecho */
  background-color: #2c5eff;
  color: white;
  border-radius: 7px;
  padding: 20px;
  margin: 1.5px; /* Ajusta el margen para darle un poco de separación de los bordes */
  transition: background-color 0.3s;
}

.btnRegistro {
  background-color: #2c5eff;
  color: white;
  border-radius: 7px;
  padding: 20px;
  margin: 1.5px; /* Ajusta el margen para darle un poco de separación de los bordes */
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 5px;
}

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
}


.backLogin {
  position: absolute;
  top: 0; /* Alinéalo al borde superior */
  left: -10px; /* Alinéalo al borde derecho */
  background: none;
  color: white;
  border-radius: 7px;
  margin: 1.5px; /* Ajusta el margen para darle un poco de separación de los bordes */
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 17px;
}

.ui-btn-exit {
  background-color: rgb(244, 65, 65);
  height: 60px;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 15px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s;
}

.contenedorForm {
  border: 1px solid black;
  padding: 30px;
  border-radius: 14px;
  background-color: #f8ecdb;
}