@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}

.backButton {
    background: none;
    border: none;
    width: 30px;
}

.tituloEditar {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.contenedorForm {
    border: 1px solid black;
    padding: 30px;
    margin: 30px;
    border-radius: 14px;
    background-color: #f8ecdb;
  }

  input[type="text"],
input[type="email"] {
  width: 95%;
  padding: 12px;
  margin-bottom: 30px;
  background-color: #eee;
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 8px;
  color: rgb(9, 9, 9);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.labelDiv {
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 500;
  }

  .ui-btn {
    background-color: #1c274c;
    height: 60px;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }

  .ui-btn:hover {
    background-color: #0056b3;
  }

  .botonDiv {
    display: flex;
    align-items: center;
    margin: 30px 0 30px 2px;
  }