/* !FUENTES IMPORTADAS ACA */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
/* !FUENTES IMPORTADAS ACA */

/* ?CONFIGURACION GENERAL PARA TODOS LOS ESTILOS */
* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e201e;
}

/* ?CONFIGURACION GENERAL PARA TODOS LOS ESTILOS */

body {
  background: #f0f0f0;
}


/* !boludeces de index */

.scrollable-content {
  overflow-y: auto; /* Permitir scroll vertical */
  -webkit-overflow-scrolling: touch; /* Para un mejor scroll en dispositivos táctiles */
  height: 100%; /* O el valor que necesites para limitar el alto */
}

.buscador {
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
  border: solid 1px #000000;
  height: 20px;
}

.seccionesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.secciones {
  background-color: rgba(0, 67, 122, 0.425);
  width: 160px;
  height: 100px;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}

/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/



.statusbar-overlay {
  background: #000000;
}
